<h1>Reset Password</h1>

<%= form_tag password_resets_path, :method => :post do %>
  <div class="row">
    <div class="field span6 offset3">
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>
      <%= submit_tag "Reset Password", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
    