<% if params[:search] %>
  <% provide(:title, 'Search') %>
  <h1>Search</h1>
<% else %>
  <% provide(:title, 'All users') %>
  <h1>All users</h1>
<% end %>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
