<% if @user.photos.any? %>
<% @photos.each_with_index do |p, index| %>
  <% if index % 3 == 0 %>
    <div class="row">
  <% end %>
  <div class="span4">
  <h4><%= p.title %></h4>
  <%= image_tag p.image.url(:medium), class: "thumbnail" %>
  <h5><%= p.description %></h5>
 <%= link_to "delete", p, method:  :delete,
                                     confirm: "Are you sure you want to delete this photo?",
                                     title:   p.title %>
</div>
<% if index % 3 == 2 || index == @photos.length - 1  %>
  </div>
  <% end %>
<% end %>
<% end %>