<div class="row">
<div class ="span6 offset3"> 
<%= form_for (@photo), :html => { :multipart => true, method: :create } do |f| %>
  <%= hidden_field_tag 'previous_photo', @photo %>
  <%= render 'shared/error_messages' , object: f.object%>
  <%= f.label :title %>
  <%= f.text_field  :title %>
  <%= f.label :description %>
  <%= f.text_area :description, size: "5x5" %>
  <%= f.file_field :image %>
  <%= f.submit "Upload", class: "btn btn-large btn-primary" %>
<% end %>
</div>
</div>