<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", root_path, id: "logo" %>
      <nav>
	  <%= form_tag users_path, class:"navbar-search", method: :get do %>
	    <%= autocomplete_field_tag :search, params[:search], autocomplete_user_name_users_path, id: "search_field", class: "search-query", placeholder: "Search", update_elements: {email: '#some_other_element'} %>
	  <% end %>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path%></li>
          <% if signed_in? %>
            <li><%= link_to gravatar_for(current_user, :size => 30) + current_user.name, current_user %></li>
            <li><%= link_to "Users", users_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
		<li><%= link_to "Help", help_path %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>